.PostPage {
  height: 100%;
}

.PostPage>.container {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

.PostPage header {
  grid-column: 1/3;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: auto auto;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  padding: 0.75em;
}

.PostPage header {}

.PostPage header .meta-data {
  display: flex;
  gap: 1rem;
  color: #888;

}

.PostPage section {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 0.75em;
}

.PostPage .photos {
  position: relative;
  height: 40vh;
  padding: 0;
  overflow: hidden;
  padding: 1em;
}

.PostPage .actions {
  gap: 1em;
}

.PostPage .details {
  display: grid;
  grid-template-columns: repeat(2, minmax(3rem, 1fr));
}

.PostPage section h2 {
  padding: 0.35em 0;
}

.PostPage .details>div {
  display: grid;
  grid-column: span 2;
  grid-template-columns: repeat(2, 16ch);
  font-size: 0.9rem;
  padding: 0.5em;
}

.PostPage .details .label {
  color: #888;
}

.PostPage .details .data {
  /* color:#888 */
  font-weight: 800;
}

.PostPage section.user {
  flex-direction: row;
  gap: 1em;
  align-items: center;
}

.PostPage .location {
  gap: 1em;
}

.PostPage .location .address {
  display: flex;
  gap: 0.5em;
  font-weight: 800;
}

.PostPage .btn-group .btn {
  flex: 1;
}

.PostPage .share-container {
  border: "1px solid var(--primary)";
  padding: ".5em";
  overflow: "hidden";
  justify-content: "space-between";
  align-items: "center";
  text-wrap: "nowrap";
}

.PostPage .share-container>span {
  max-width: 40ch;
  text-overflow: ellipsis;
  overflow: hidden;
}

.PostPage section.user .profile-image {
  height: 8em;
  width: 8em;
  border-radius: 24em;
  overflow: hidden;
}

.PostPage .empty-txt {
  color: #888;
  font-style: italic;
}

.PostPage .no-image {
  position: static;
}

.PostPage .bids .bids-interface {
  display: flex;
  flex-direction: column;
}

.PostPage .bids .bids-interface .list {
  min-height: 10rem;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 1em;
  overflow-y: scroll;
  border: 1px solid var(--primary);
  border-radius: 1rem 1rem 0 0;
}

.PostPage .bids .bids-interface .list.full-border {
  border-left: 1px solid var(--primary);
  border-bottom: 1px solid var(--primary);
  border-radius: 1rem;
}

.PostPage .bids .bids-interface .list .no-bids {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.PostPage .bids .bids-interface .bids-control {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 1em;
  background-color: var(--primary);
  color: #fff;
  border-radius: 0 0 1rem 1rem;
}

.PostPage .bids .bids-interface .bids-control input {
  background-color: #fff;
}

.PostPage .bids .bids-interface .bids-control .bid-options {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1em;
}

.PostPage .bids .bids-interface .bids-control .bid-options .option:hover {
  transition: transform 0.5s;
  transform: translateY(-2px);
}

.PostPage .bids .bid {
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
  flex-wrap: nowrap;
  align-items: center;
}

.PostPage .bids .bid .user-profile-image {
  grid-column: span 1/2;
  grid-row: span 2;
  height: fit-content;
  width: fit-content;
  height: 2em;
  width: 2em;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.PostPage .bids .bid .user-name {
  color: #888;
}

.PostPage .bids .bid .amount {
  color: var(--success);
  font-size: 1.25rem;
}

.PostPage .comments {
  display: flex;
  flex-direction: column;
  gap: 1em;

}

.PostPage .comments .comment {
  display: grid;
  grid-template-columns: repeat(3, fit-content(100%));

  grid-template-rows: repeat(2, fit-content(4rem));
  gap: 0.5em;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 1em;
}

.PostPage .comments .comment .user-profile-image {
  grid-column: span 1/2;
  grid-row: span 2;
  height: fit-content;
  width: fit-content;
  align-items: flex-start;
  height: 2em;
  width: 2em;
  border-radius: 24em;
  overflow: hidden;
}

.PostPage .comments .comment .date {
  /* font-size:0.8em; */
  color: #888;
}

.PostPage .comments .comment .text {
  grid-column: 2/4;
  grid-row: 2/3;
}

.PostPage .comments .comment .text {
  grid-column: 2/4;
  grid-row: 2/3;
}

.PostPage .comments .comment .comment-control {
  grid-column: 2/4;
  grid-row: 3/3;
}

.PostPage .comments .comment-box {
  height: fit-content;
  flex-direction: column;
  align-items: end;
  display: flex;
  gap: 1em;
  border: 1px solid var(--primary);
  border-radius: 2em;
  padding: 1em;
}

.PostPage .comments .comment-box .comment-box-control {
  display: none;
}

.PostPage .comments .comment-box>textarea {
  width: 100%;
  height: 1rem;
  resize: none;
  outline: none;
  font-size: 1rem;
}

.PostPage .comments .comment-box>textarea:focus,
.PostPage .comments .comment-box>textarea:not(:empty) {
  border: none;
  outline: none;
  height: 4em;
}

.PostPage .comments .comment-box>textarea:focus+.comment-box-control,
.PostPage .comments .comment-box>textarea:not(:empty)+.comment-box-control {
  display: block;
}

@media (min-width: 768px) {
  .PostPage>.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    grid-template-rows: repeat(7, minmax(5rem, auto));
  }

  .PostPage section {
    grid-column: span 2;
    grid-row: span 1;
  }

  .PostPage .photos {
    grid-column: span 2;
    grid-row: 1/ 2;
    justify-self: center;
    height: max(25rem, 36vw);
    width: max(25rem, 60vw);
  }

  .PostPage .user {
    grid-row: 3 / 4;
    grid-column: 3 / 3;
  }

  .PostPage .user .rating {
    display: flex;
    color: #888;

  }

  .PostPage .details {
    grid-row: 1 / 2;
    grid-column: 3 / 3;
    padding-top: 0;
  }

  .PostPage .details div {
    align-items: center;
  }

  .PostPage .details div:nth-child(odd) {
    background-color: #eee;
  }

  .PostPage .bids .bids-interface {
    height: 20rem;
    flex-direction: row;

  }

  .PostPage .bids .bids-interface .list {
    padding: 2rem;
    flex-grow: 1;
    border-radius: 1rem 0 0 1rem;
    /* border-right: none; */
  }

  .PostPage .bids .bids-interface .bids-control {
    justify-content: space-between;
    padding: 2rem;
    flex-grow: 1;
    border-radius: 0 1rem 1rem 0;
  }

  .PostPage .bids .bids-interface .bids-control input {
    justify-self: flex-end;
  }

  .PostPage .actions {
    grid-row: 2 / 3;
    grid-column: 3 / 3;
  }

  .PostPage .location {
    grid-row: 4 / 6;
    grid-column: 3/3;
  }

  .PostPage .stats {}
}