*,
*::after,
*::before {
  border: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  list-style: none;
}

:root {
  --primary: #257b27;
  --destructive: #de0d0d;
  --warning: #f6ff52;
}
#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  
}
img {
  height: 100%;
  width: 100%;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

h2 {
  font-size: 1.5em;
  font-weight: 800;
}

header {
  display: flex;
  flex-direction: column;
}

header.home-header {
  height: 100vh;
  background-image: url("/src/assets/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}

.card {
  border-radius: 8px;
  background-color: #fff;
  padding: 1em;
}

.col-1 {
  grid-column: span 1;
}.col-2 {
  grid-column: span 2;
}
.col-3 {
  grid-column: span 3;
}
.col-4 {
  grid-column: span 4;
}

.btn-group{
  display: flex;
  gap: 0.5em;
}