/* temp-fix */
body {
  font-size: 0.75rem;
}

.UserAccount,
.EditUserAcount {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #e0e6e0;
}

.user-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding-bottom: 2rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  background-color:white ;

}

.user-info {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.user-info .name {
  font-size: min(2.5em, 4vw);
  font-weight: 800;
  color: var(--primary);
}
.user-info .username {
  font-size: 1em;
  font-weight: 800;
  color: #666;
}
.user-header .profile-image {
  width: fit-content;
  height: fit-content;
  border: 1px #bbb solid;
  border-radius: 100%;
  background-color: #ddd;
  font-size: max(5rem, 8vw);
  padding: 0.25em ;
}
.user-header .default-profile-image {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-header .default-profile-image *{
display: inline-block;
}
.UserAccount .edit-user-btn {
  color: #fff;
}

/* Tabs */
.UserAccount .tabs {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.UserAccount .tab {
  padding: 1em;
  color: var(--primary);
}

.UserAccount .tab:hover {
  background-color: var(--primary);
  color: #fff;
  border-radius: 24px;
}

.edit-account-info {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em 2em;
}
.edit-account-info form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

/* temp-fix */
@media (min-width: 768px) {
  body {
    font-size: 1rem;
  }
}
