.UserAccount{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:1em;
}

/* temp-fix */
body {
  font-size: 0.75rem;
}

.user-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding-bottom: 2rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  background-color: white;
}

.user-info {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.user-info .name {
  font-size: min(2.5em, 4vw);
  font-weight: 800;
  color: var(--primary);
}
.user-info .username {
  font-size: 1em;
  font-weight: 800;
  color: #666;
}
.user-header .profile-image {
  width: 12rem;
  height: 12rem;
  border: 1px #ddd solid;
  border-radius: 100%;
  overflow: hidden;
}

.user-header .default-profile-image * {
  display: inline-block;
}
.UserAccount .edit-user-btn {
  color: #fff;
}

.UserAccount .account-content {
 display: flex;
 flex-direction: column;
 gap:1em;
  width: 100%;
  
}

/* Tabs */
.UserAccount .tabs {
  flex:1;
  display: flex;
  justify-content: center;
  gap: 1em;
  font-size: 1.2rem;
}


.UserAccount .tab {
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 0.5em;
  color: gray;
   transition: all 0.2s ease;
}
.UserAccount .tab.active {
  border-bottom: 2px solid var(--primary);
  font-weight: 900;
  color: var(--primary);
}
.UserAccount .tab:hover {
  border-bottom: 2px solid var(--primary);
  cursor: pointer;
}

.edit-account-info {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em 2em;
}
.edit-account-info form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

/* temp-fix */
@media (min-width: 768px) {
  body {
    font-size: 1rem;
  }

  .UserAccount .account-content {
  
  width: 60%;
}
}
