.PostSearchResult {
  display: flex;
  gap: 1.5em;
  padding: 1.75em 1.5em;
  overflow-x: scroll;
}

.PostSearchResult .result-header {
  display: flex;
  justify-content: space-between;
}

.post-results-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  flex: 1 1 70%;
  /* max-width: 120ch; */
}

/* Filter */

.Filter {
  position: absolute;
  bottom: 0;
  left:0;
  pointer-events: auto;
  border-radius: 2rem 2rem 0 0;
  height: fit-content;
  display: flex;
  flex-direction: column;
  width: 100%; 
  padding: 1em 2em;
  background-color: white;
  border: 1px solid lightgray;
  z-index: 3;
  pointer-events: auto;
  
}

.Filter h2 {
  width: 100%;
  padding: 0 0 1em;
  text-align: center;
  font-weight: 700;
  color: rgb(11, 65, 11);
}

.Filter>form {
  display: grid;
  grid-template-columns: repeat(2, minmax(6em, 1fr));
  gap: 3em 0.25em;
  padding: 1em;
}

.Filter>form>.form-control {
  border-radius: 0;
}

#filter-toggle-btn {
  max-width: 4em;
  margin-left: auto;
}

.Filter>form .form-control-label {
  position: absolute;
  translate: 0 -100%;
}

/*Desktop screen*/

@media (min-width: 768px) {


  /* Filter */
  .Filter {
    position: relative;
    gap: 1em;
    max-width: 25vw;
    min-width: 16rem;
    padding: 1em 1em;
    z-index: 1;
    border-radius: 1rem;
  }

  #filter-toggle-btn {
    display: none;
  }
}