form .form-control-container {
  position: relative;
  display: flex;
  flex-direction: column;
  --control-height:3rem;
}

form .form-control {
  height: var(--control-height);
  padding: 0 0.5em;
  border: 1px rgba(88, 84, 84, 0.808) solid;
  border-radius: 8px;
  background-color: transparent;
}

form .form-control-label{
  padding: 0.5em;
}

form .form-control.error {
  border-color: var(--destructive);
}

form .form-contol-error-message {
  height: 1em;
  position: absolute;
  bottom: -1em;
  color: var(--destructive);
  padding: 0.25em;
}

.exclamation-icon {
  position: absolute;
  bottom: calc(var(--control-height)/2);
  right: 1.25em;
  transform: translateY(50%);
  height: 1em;
  color: var(--destructive);
}

.form-control-container.input .exclamation-icon {
  right: 1em;
}
