form .form-control-container {
  position: relative;
  display: flex;
  flex-direction: column;
  --control-height: 3rem;
}

form .form-control {
  height: var(--control-height);
  padding: 0 0.5em;
  border: 1px rgba(88, 84, 84, 0.808) solid;
  border-radius: 8px;
  background-color: transparent;
}

form .form-control-label {
  padding: 0.5em;
}

form .form-control.error {
  border-color: var(--destructive);
}

form .form-contol-error-message {
  height: 1em;
  position: absolute;
  bottom: -1em;
  color: var(--destructive);
  padding: 0.25em;
}

.exclamation-icon {
  position: absolute;
  bottom: calc(var(--control-height) / 2);
  right: 1.25em;
  transform: translateY(50%);
  height: 1em;
  color: var(--destructive);
}

.form-control-container.input .exclamation-icon {
  right: 1em;
}

/* Autocomplete */
/* .Autocomplete input{
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  } */
.Autocomplete {
  /* border: 1px solid black; */
  position: relative;
  /* bottom: 1em; */
  border-radius: 1em;
}
.Autocomplete .autocomplete-dropdown {
  position: absolute;
  top: calc(100% + 0.5em);
  padding: 0.25em 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0.5em;
}
.Autocomplete .autocomplete-dropdown li {
  padding: 0.75em;
  font-size: 1.25em;
}

.Autocomplete .autocomplete-dropdown li:hover,
.Autocomplete .autocomplete-dropdown li.active {
  background-color: #ddd;
}
