.post {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  background-color: #fff;
  cursor: pointer;
  transition: box-shadow 0.3s ease, transform 0.2s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: max(36rem, 75vw);
  height: 100%;
}

.post:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
  cursor: pointer;
}

.post>.icon {
  position: absolute;
  right: 1em;
}

.post>.post-details {
  display: grid;
  gap: 0.3em;
  grid-template-columns: repeat(4, minmax(3rem, 1fr));
  padding: 0.75em;
  text-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
}

.post .post-details>span {
  align-items: center;
  padding: 0.25em;
  font-size: 1.15rem;
  display: flex;
  grid-column: span 2;
  gap: 0.25em;
}

.post .post-details span span {
  display: block;
}

.post .post-details span span::first-letter {
  text-transform: uppercase;
}

.post .post-details .post-title {
  grid-row: span 1;
  grid-column: span 3;
  max-width: 42ch;

  font-weight: bold;
  text-wrap: wrap;
  color: var(--primary);
}

.post .post-details .post-title>* {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post .post-details .post-price {
  justify-self: end;
  display: flex;
  justify-content: end;
  grid-column: span 1;
  font-weight: bold;
  text-align: start;
  color: var(--primary);
}

.post .post-details .post-price,
.post .post-details .post-title {
  font-size: 1.5rem;
}

.post .post-details .car-name {
  grid-column: span 4;
  max-width: 48ch;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.post .post-img-container {
  position: relative;
  flex-shrink: 0;
  max-width: none;
  height: auto;
  width: 100%;
  padding-top: 75%;
  border: 1px solid lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post .post-details .post-location {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  grid-column: span 4;

  color: var(--primary);
}

.post .post-details .post-location .address {
  font-size: clamp(0.7rem, 3vw, 1rem);
  overflow-x: hidden;
  text-overflow: ellipsis;
  color: gray;
}

.post-btn-group {
  flex-grow: 1;
}

.post-btn-group>* {
  flex-grow: 1;
}

.post-btn-group {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.post-btn-group>* {
  flex-grow: 1;
  font-size: 1em;
}

.post-footer {
  display: flex;
  justify-content: end;
  gap: 1em;
  grid-column: span 4;
}

.post .Carousel {
  position: absolute;
  object-fit: cover;
  width: 100%;
  top: 0;
  left: 0;
}

.no-image {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
}

.post .opts-btn {
  position: absolute;
  top: 0.4rem;
  right: 0.4rem;
  color: #fff;
  font-size: 1.25rem;
  flex: 0;
  background-color: rgba(0, 0, 0, 0.1);
  transition: background-color 300ms;
}

.post .opts-btn:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

@media (min-width: 768px) {
  .post {
    flex-direction: row;
    /* height: 15em; */
    min-width: min(55rem, 55vw);

  }

  .post .icon {
    flex-direction: row;
  }

  .post .post-details {
    gap: 0.75em;
    grid-template-columns: repeat(6, minmax(3rem, 1fr));
  }

  .post .post-details span {
    grid-column: span 2;
  }

  .post .post-details .post-title {
    grid-row: span 2;
    grid-column: span 5;
  }

  .post .post-details .post-price {
    grid-column: span 1;
    text-align: end;
  }

  .post .post-details .car-name {
    grid-column: span 6;
  }

  .post .post-img-container {
    width: max(18em, 25vw);
    padding-top: 0%;
  }

  .post .post-details .post-location {
    grid-column: span 6;
  }

  .post-footer {
    grid-column: span 6;
  }

  .post-footer .post-btn-group {
    flex-direction: row;
  }

  .post .opts-btn {
    position: static;
    color: var(--primary);
    font-size: 1.25rem;

    background-color: transparent;
  }

  .post .opts-btn:hover {
    background-color: transparent;
  }
}