.PostCreator {
  flex-grow: 1;
  padding: 5vh 10vw;
}
.PostCreator-form {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 3fr 2fr;
  gap: 1em;
}
.PostCreator-form > div {
  align-self: flex-start;
}
.form-header {
  text-align: center;
  color: var(--primary);
}
.PostCreator-form > .post-img {
  height: 100%;
  grid-row: 2 / span 1;
  display: none;
  justify-content: center;
  border-radius: 8px;
  background-color: lightgray;
}
.PostCreator-form  .m-post-img{
  display: flex;
  gap: 1em;
}
.PostCreator-form  .m-post-img > span{
  display: inline;
  vertical-align: baseline;
}
.PostCreator-form > .post-img > .btn {
  align-self: center;
}
.PostCreator-form > .post-data {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  gap: 1.75em;
  grid-row: 2 / span 2;
}
.PostCreator-form > .post-data > select {
  height: 3em;
  padding: 0 0.5em;
  border: 1px rgba(88, 84, 84, 0.808) solid;
  border-radius: 4px;
  background-color: transparent;
}
.PostCreator-form > .post-data > input {
  height: 3em;
  padding: 0 0.5em;
  border: 1px rgba(88, 84, 84, 0.808) solid;
  border-radius: 4px;
  background-color: transparent;
}
.form-button > .btn {
  width: 100%;
}

@media(min-width:700px){
  .PostCreator-form{
    grid-template-columns: 1fr 2fr;
  }
  .PostCreator-form > .post-data{

    grid-template-columns: 1fr 1fr;
  }
  .PostCreator-form .form-button {
    grid-column: 2/span 1;
  }
  .PostCreator-form > .post-img{
    display: flex;
  }
  .PostCreator-form .m-post-img{
    display: none;
  }
}