.authFormContainer {
  /* position: fixed;
  z-index: 2; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100vw;
  height: 100vh; */
  margin: auto auto;
  overflow-x: hidden;
  /* background-color: rgba(0, 0, 0, 0.2); */
}

.authForm {
  position: relative;
  height: fit-content;
  min-width: 24em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5em;
  padding: 1em 0em;
  background-color: white;
}

.col-2 {
  grid-column: span 2 !important;
}
.authForm > * {
 min-width: 0px;
}
.authForm > h2 {
  text-align: center;
}

.authForm input {
  margin-bottom: 0.2em;
}

.line-breaker {
  display: flex;
  align-items: center;
}

.line-breaker > .line {
  height: 1px;
  flex-grow: 2;
  background-color: black;
  margin: 0 10px;
}

.line-breaker .text {
  white-space: nowrap;
}

.container.alt {
  margin: 0 1em;
  display: flex;
  justify-content: center;
}

.container.alt > :first-child {
  margin-right: 0.5em;
}

.container.alt > .btn {
  height: 4em;
  min-width: 0px;
  display: flex;
  align-items: center;
  font-size: min(1em,1.5vw);
  font-weight: 500;
  padding: 0 1em;
  color: rgb(89, 86, 86);
}

.container.alt > .btn > :first-child {
  margin-right: 0.25em;
}

#remeber-me-container{
  display: flex;
  gap:0.3em;
  height: 1em;
}

#remeber-me-container > label{
  display: flex;
  align-items: center;
}

@media(min-width:720px){
  .authForm {
    width: 33vw;
  }
}