/* Button.css */
.btn {
    padding: 0.7em;
    border-radius: 4px;
    font-weight: 500;
    letter-spacing: 0.75px;
  }

  .btn:hover{
    cursor:pointer;
  }
  
  .primary {
    background-color: var(--primary);
    color: white;
  }
  
  .secondary {
    background-color: transparent;
    color: var(--primary);
    border: 1px solid var(--primary);
  }

  .link{
    padding: 0;
    background-color: transparent;
    color: var(--primary);
    border-radius: 0;
  }

  .link:hover{
    text-decoration: underline;
  }
  
  .destructive {
    color: white;
  }
  
  .primary.destructive {
    background-color: var(--destructive);
  }
  
  .secondary.destructive {
    background-color: transparent;
    color:  var(--destructive);
    border-color:  var(--destructive);
  }

  .link.destructive{
    color: var(--destructive);
  }

  .disabled{
    color:white;
  }

  .primary.disabled{
    background-color: gray;
  }

  .secondary.disabled {
    background-color: transparent;
    color:  gray;
    border-color:  gray;
  }

  .round {
    border-radius: 64px;
  }